[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
arcade = "*"
certifi = "*"
chardet = "*"
click = "*"
flake8 = "*"
future = "*"
idna = "*"
itsdangerous = "*"
kiwisolver = "*"
matplotlib = "*"
matplotsave = "*"
mccabe = "*"
numpy = "*"
pew = "*"
pipenv = "*"
psutil = "*"
pycodestyle = "*"
pyflakes = "*"
pyglet-ffmpeg = "*"
pyparsing = "*"
pyserial = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
pywin32 = "*"
requests = "*"
scipy = "*"
six = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
yapf = "*"
Cycler = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
Pillow = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
